body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.subject-list {
    list-style-type: none;
    padding: 0;
}

.subject-list li {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.redirect-button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}